<a href="https://colab.research.google.com/github/aiishaa/Arabic-Dialect-Classification/blob/main/Model_Training(traditional).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.naive_bayes import MultinomialNB, ComplementNB
from sklearn.metrics import accuracy_score, plot_confusion_matrix, classification_report, f1_score, recall_score

random_df = pd.read_csv('/content/drive/MyDrive/cleaned_texts.csv')
print(random_df['text_cleaned'].head())
dialect = random_df["dialect"].to_numpy()

0    لا بقي كانت نازله قبل كده وشهر ميلادي كان امري...
1                                   شكلك معاهم يا فواز
2    حتى البوم بستناك اللي صرلوا فوق ال سنين تفوق ع...
3                         تى هذا نووووووورك ياصاحبتى ❤
4    صول اخوي متعلم ان كل خميس اطلعه من المدرسة وام...
Name: text_cleaned, dtype: object

In [2]:
random_df.head()

,dialect,Unnamed: 1,Unnamed: 0,id,dialect.1,text,text_cleaned
0,11,301469,301469,1108148310400008192,11,['@soad_saed @vip_nooooona لا بقي كانت نازله ق...,لا بقي كانت نازله قبل كده وشهر ميلادي كان امري...
1,8,202870,202870,1134884041243734016,8,['@Fawaz_Allogmani شكلك معاهم يا فواز😂'],شكلك معاهم يا فواز
2,1,43149,43149,863041761098305536,1,['@karimdiab17 @omarfareskh @ysfmohamad @super...,حتى البوم بستناك اللي صرلوا فوق ال سنين تفوق ع...
3,1,35818,35818,1078430883349217152,1,['@numidie10 تى هذا نووووووورك ياصاحبتى 😍❤'],تى هذا نووووووورك ياصاحبتى ❤
4,2,63640,63640,1095955494072668160,2,['فصول اخوي متعلم ان كل خميس اطلعه من المدرسة ...,صول اخوي متعلم ان كل خميس اطلعه من المدرسة وام...

In [3]:
X = random_df['text_cleaned'].astype(str)
tfidf_vec = TfidfVectorizer()
X_vals = tfidf_vec.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_vals, dialect, random_state = 22, test_size=0.1)
clf_nb = MultinomialNB()
clf_nb.fit(X_train, y_train)
nb_y_predict = clf_nb.predict(X_test)
print(f'Accuracy: {accuracy_score(nb_y_predict, y_test)}')
#print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, nb_y_predict))

Accuracy: 0.4809259259259259
              precision    recall  f1-score   support

           0       0.68      0.58      0.63       909
           1       0.70      0.57      0.63       927
           2       0.33      0.50      0.40       907
           3       0.40      0.38      0.39       954
           4       0.44      0.39      0.41       896
           5       0.62      0.57      0.60       850
           6       0.35      0.30      0.32       922
           7       0.68      0.67      0.68       821
           8       0.35      0.39      0.37       880
           9       0.49      0.34      0.40       936
          10       0.55      0.55      0.55       901
          11       0.53      0.79      0.63       872
          12       0.54      0.63      0.58       918
          13       0.41      0.37      0.39       886
          14       0.39      0.32      0.35       893
          15       0.66      0.63      0.64       911
          16       0.34      0.42      0.38       924
          17       0.32      0.29      0.30       893

    accuracy                           0.48     16200
   macro avg       0.49      0.48      0.48     16200
weighted avg       0.49      0.48      0.48     16200

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X_vals, dialect, test_size=0.1)
model_cnb = ComplementNB(alpha=1,norm=False)
model_cnb.fit(X_train, y_train)
predict=model_cnb.predict(X_test)
print(f1_score(y_test,predict, average='weighted'))
print(classification_report(y_test,predict))

0.448086925483011
              precision    recall  f1-score   support

           0       0.55      0.61      0.58       872
           1       0.58      0.51      0.54       907
           2       0.36      0.43      0.39       862
           3       0.39      0.32      0.35       933
           4       0.40      0.33      0.36       895
           5       0.57      0.58      0.58       886
           6       0.35      0.25      0.29       917
           7       0.63      0.68      0.65       898
           8       0.34      0.36      0.35       885
           9       0.42      0.31      0.36       866
          10       0.52      0.53      0.52       918
          11       0.49      0.72      0.58       932
          12       0.48      0.64      0.55       891
          13       0.37      0.37      0.37       876
          14       0.39      0.32      0.35       947
          15       0.58      0.61      0.59       885
          16       0.34      0.34      0.34       925
          17       0.34      0.29      0.31       905

    accuracy                           0.46     16200
   macro avg       0.45      0.46      0.45     16200
weighted avg       0.45      0.46      0.45     16200

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, dialect, test_size=0.1)
mn = 1
mx = 1
text_clf = Pipeline([('vect', CountVectorizer(ngram_range=(mn, mx))),
                                  ('tfidf', TfidfTransformer()),
                                  ('clf', MultinomialNB()), ])
text_clf.fit(X_train, y_train) 
predicted = text_clf.predict(X_test)
print(f1_score(y_test,predicted, average='weighted'))
print(classification_report(y_test, predicted))

0.47952333761185556
              precision    recall  f1-score   support

           0       0.70      0.59      0.64       927
           1       0.71      0.51      0.59       927
           2       0.33      0.52      0.41       883
           3       0.41      0.38      0.39       950
           4       0.46      0.40      0.43       872
           5       0.60      0.56      0.58       853
           6       0.36      0.31      0.33       875
           7       0.74      0.67      0.70       904
           8       0.35      0.35      0.35       917
           9       0.47      0.30      0.37       963
          10       0.50      0.54      0.52       867
          11       0.55      0.79      0.65       931
          12       0.55      0.66      0.60       920
          13       0.43      0.41      0.42       889
          14       0.40      0.30      0.35       910
          15       0.62      0.64      0.63       852
          16       0.31      0.44      0.37       868
          17       0.33      0.30      0.32       892

    accuracy                           0.48     16200
   macro avg       0.49      0.48      0.48     16200
weighted avg       0.49      0.48      0.48     16200